<h1 class="result">Results for <%= @selected.upcase %></h1>
<% if @RLMindex.length > 0 %>
<table><tr><th class="heading">Date</th><th class="heading">Time</th><th class="heading">Teams</th><th class="heading">Bet Volume</th><th class="heading">Percent</th><th class="heading">Original Spread</th><th class="heading">New Spread</th><th class="heading">RLM</th><th class="heading">Team to bet on</th><th class="heading">CR</th></tr>
<% @RLMindex.each do |i| %>
	<tr class="table"><td><%=@dates[i]%></td><td><%= @times[i]%></td><td><%= raw "#{@awayteams[i]} at #{@hometeams[i]}" %></td><td><%=@totalbets[i]%></td><td><%=raw "#{(@homepercent[i]*100).to_i}%"%></td><td><%=@openinglines[i].abs%><td><%=@homespread[i]%></td><td><%= @openinglines[i].abs.to_f - @homespread[i].to_f%></td><td><%=@hometeams[i]%></td><td><%=@CRarray[@count]%></td></tr>
<% @count += 1%>
<% end %>
<% end %>
</table>
<% if @RLMindex.length == 0 %>
	<%= raw "No games match your criteria." %><br>
<% end %>
<br>
<div class="data">Data from <%= link_to @site, @site %></div>